.Conclusion {
  background-color: var(--blue-light);
  color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 79, 225, 0.1);
}

.Conclusion h2 {
  margin-top: 0;
}
